<%= render 'welcome/header' %>

<main>
  <div class="container">
    <section>
      <h1 class="heading-1">Editing a Character</h1>

      <%= render 'form' %>

      <p class="footer">
        <%= link_to 'View character', character_path, class: 'btn' %>
        <%= link_to 'Add a new character', new_character_path, class: 'btn' %>
        <%= link_to 'Home', '/', class: 'btn' %>
      </p>
    </section>
  </div>
</main>
