<%= render 'welcome/header' %>

<main>
  <div class="container">
    <section>
      <h1 class="heading-1">Charater List</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Biography</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <% @characters.each do |character| %>
          <tr>
            <td><%= character.name %></td>
            <td><%= character.bio %></td>
            <td><%= link_to 'More Info', character_path(character) %></td>
            <td><%= link_to 'Edit', edit_character_path(character) %></td>
            <td><%= link_to 'Delete', character_path(character),
                    method: :delete,
                    data: { confirm: 'Do you really want to delete this character?' } %></td>
          </tr>
        <% end %>
      </table>
    </section>
    
      <p class="paragraph">
        <span class="btn"><%= link_to 'Add a new character', new_character_path %></span> |
        <%= link_to 'Home', '/' %>
      </p>

  </div>
</main>
