<h2>
  <strong>Name:</strong>
  <%= @character.name %>
</h2>

<p>
  <strong>Biography:</strong>
  <%= @character.bio %>
</p>

<h2>Ability Scores</h2>
<p>
  <strong>Strenght:</strong>
  <%= @character.str %>
</p>
<p>
  <strong>Dexterity:</strong>
  <%= @character.dex %>
</p>
<p>
  <strong>Constitution:</strong>
  <%= @character.con %>
</p>
<p>
  <strong>Intelligence:</strong>
  <%= @character.int %>
</p>
<p>
  <strong>Wisdom:</strong>
  <%= @character.wis %>
</p>
<p>
  <strong>Charisma:</strong>
  <%= @character.cha %>
</p>

<h2>Great tales of epic heroics:</h2>
<%= render @character.tales %>

<h2>Add a new tale of epic heroics:</h2>
<%= render 'tales/form' %>

<%= link_to 'Make Changes', edit_character_path(@character) %> |
<%= link_to 'See Character List', characters_path %>
