<%= render 'welcome/header' %>

<main>
  <div class="container">
    <section>
      <h1 class="heading-1">
        <%= @character.name %>
      </h1>

      <p class="paragraph">
        <span class="emphasize">Biography:</span>
        <%= @character.bio %>
      </p>

      <h2 class="heading-2">Ability Scores</h2>
      <p class="abilities">
        <span class="bold">Strenght:</span>
        <%= @character.str %>
      </p>
      <p class="abilities">
        <span class="bold">Dexterity:</span>
        <%= @character.dex %>
      </p>
      <p class="abilities">
        <span class="bold">Constitution:</span>
        <%= @character.con %>
      </p>
      <p class="abilities">
        <span class="bold">Intelligence:</span>
        <%= @character.int %>
      </p>
      <p class="abilities">
        <span class="bold">Wisdom:</span>
        <%= @character.wis %>
      </p>
      <p class="abilities">
        <span class="bold">Charisma:</span>
        <%= @character.cha %>
      </p>

      <h2 class="heading-2">Great tales of epic heroics:</h2>
        <%= render @character.tales %>

      <h2>Add a new tale of epic heroics:</h2>
      <%= render 'tales/form' %>

      <%= link_to 'Make Changes', edit_character_path(@character), class: 'mybtn' %>
      <%= link_to 'See Character List', characters_path, class: 'mybtn' %>
      <%= link_to 'Home', '/', class: 'mybtn' %>

    </section>
  </div>
</main>
