<h2>
  <strong>Name:</strong>
  <%= @character.name %>
</h2>

<p>
  <strong>Biography:</strong>
  <%= @character.bio %>
</p>

<h2>Ability Scores</h2>
<p>
  <strong>Strenght:</strong>
  <%= @character.str %>
</p>
<p>
  <strong>Dexterity:</strong>
  <%= @character.dex %>
</p>
<p>
  <strong>Constitution:</strong>
  <%= @character.con %>
</p>
<p>
  <strong>Intelligence:</strong>
  <%= @character.int %>
</p>
<p>
  <strong>Wisdom:</strong>
  <%= @character.wis %>
</p>
<p>
  <strong>Charisma:</strong>
  <%= @character.cha %>
</p>

<h2>Great tales of epic heroics:</h2>
<% @character.tales.each do |tale| %>
  <p>
    <strong>Epic Tale:</strong>
    <%= tale.body %>
  </p>

  <p>
    <strong>Told by:</strong>
    <%= tale.player %>
  </p>
<% end %>

<h2>Add a new tale of epic heroics:</h2>
<%= form_for([@character, @character.tales.build]) do |f| %>
<p>
  <%= f.label :player %><br>
  <%= f.text_field :player %>
</p>

<p>
  <%= f.label :story %><br>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Make Changes', edit_character_path(@character) %> |
<%= link_to 'See Character List', characters_path %>
